<div class="container pt-3">
    <div class="row row-cols-3">
        <% @posts.each do |post| %>
            <div class="col post-card mb-3">
                <%= link_to post, :action => 'go' do %>
                    <div class="card">
                        <%= image_tag(post.image, class:"mb-2 card-img-top") %>
                        <div class="card-body">
                            <h5 class="card-title text-center"><%= post.title%></h5>
                        </div>
                    </div>
                <% end %>  
            </div>
        <% end %>
    </div>
</div>

<style>
    .post-card > a{
        text-decoration: none !important;
        color: black;
        
    }
    .card-body {
        background-color: #bebac2;
    }
</style>