<div class="container pt-5">
  <div class="row text-center">
    <div class="col justify-content-center">
      <%= image_tag('sophia-home.png', style:"width:400px;")%>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-12 justify-content-center">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Sophia's AAC</h5>
          <h6 class="card-subtitle mb-2 text-muted">Phase II</h6>
          <p class="card-text">This site was intended for Sophia, please choose a category from above, you will then choose a tab "ABA" or "HOME". Future Phases will include more features and will allow Sophia to use the app independently, if you think of any features not included below please reach out to mohamed at mr.negm90@gmail.com to recommend them. Thank You!</p>
        </div>
      </div>
    </div>
  </div>
  <% if user_signed_in? %>
    <div class="row text-center pt-3">
      <div class="col-12 justify-content-center">
        <div class="card">
          <div class="card-header">
            Quick Buttons
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><%= link_to "New Request", new_post_path, style:"color: blue;", class:"nav-link"  %></li>
            <li class="list-group-item"><%= link_to "View/Edit All Requests",all_posts_path, style:"color: blue;", class:"nav-link"  %></li>
            <li class="list-group-item"><%= link_to "Log out", destroy_user_session_path, style:"color: red;", class:"nav-link" %></li>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
</div>




