<div class="card" id="<%= dom_id category %>">
  <div class="card-header">
    <p>
      <strong>Category:</strong>
      <%= category.category %>
    </p>
  </div>
  <div class="card-body">
    <%= image_tag category.image, class:"request-pic" %>
  </div>
</div>
