<h1 class="text-center">Categories</h1>

<div class="row" id="categories">
  <% @categories.each do |category| %>
    <div class="col text-center">
      <%= render category %>

      <%= link_to "Show this category", category, class:"btn btn-primary mb-3" %>
    </div>
  <% end %>
</div>


<%= link_to "New category", new_category_path %>
