<h1 class="text-center">Categories</h1>

<div class="row row-cols-3" id="categories">
  <% @categories.each do |category| %>
    <div class="col text-center">
      <%= render category %>
      <div class="card mb-3">
        <%= link_to "Show this category", category, class:"btn btn-primary" %>
      </div>
      
    </div>
  <% end %>
</div>


<%#= link_to "New category", new_category_path %>
